@{
    ViewData["Title"] = "TP04";
}

<h2>Ir a <a href='@Url.Action("SelectPaquete")'>AGREGAR</a></h2>
@{
    if(ViewBag.Paquetes!=null){
        int i=1;
foreach(string a in ViewBag.Paquetes.Keys){
    <h3>Paquete @i, con destino a @a</h3>
    
    <img src=~/img/@ViewBag.Paquetes[a].Hotel height="250px" width="20%">
    <img src=~/img/@ViewBag.Paquetes[a].Aereo height="250px" width="20%">
    <img src=~/img/@ViewBag.Paquetes[a].Excursion height="250px" width="20%">
    i++;
}}
}
