@{
    ViewData["Title"] = "SelectPaquete";
}
<form>
    <div>
    <h2>Elige un destino</h2>
    <p>
        <select name="destinoSeleccionado">
            @foreach (int item in ViewBag.destinos)
            {
               <option value="@item"></option> 
            }           
        </select>
    </p>
    </div>

    <div>
        <h2>Elegir uno de estos hotel: 
        <select name="" id="">
            @for (int j = 0; j < ViewBag.hoteles.length; j++)
            {
                <option value="hotel @j"></option>
            }

        </select>
        </h2>
        @{
        int i=1;
        foreach (int a in ViewBag.hoteles)
        {
            <p>Hotel @i :</p>
            <img src=@a height="5%" width="5%">
            i++;
        }
        }
    </div>
</form>


